# ===== Node.js =====
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Environment =====
.env
.env.*

# ===== Docker =====
**/docker-data/
**/mysql-data/

# ===== Logs =====
logs/
*.log

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Build cache =====
.cache/
